{% extends 'basic.html' %}{% block title %} Post Detail
{% endblock title %} {% block body %} {% load humanize %}
{% load  tag %}
<div class="container">
  <h1 class="text-center">Post Detail</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="{{object.image.url}}" alt="" style="width: 300px; height: 300px" class="rounded-circle img-thumbnail" />
    </div>
    <div class="col-md-6 my-5 py-5">
      Title={{object.lowercase}} <br />
      by: {{object.user.username}} at: {{object.created_at| naturaltime}} <br />

      {% if request.user == object.user %}
      <a href="/tuition/edit/{{object.id}}/"> Edit</a> <br />
      <a href="/tuition/addphoto/{{object.id}}/"> Addphoto</a> <br />
      <a href="/tuition/delete/{{object.id}}/">Delete</a> <br />
      {% endif %} 
      Subject= {{object.get_subject_list}} <br />
      Class= {{object.get_class_list}} <br />
      category={{object.category}} <br />
      Salary={{object.salary}} <br />
      Medium={{object.medium}} <br />
      Created_at={{object.created_at}} <br />
      Available= {% if object.available %} Yes {% else %} No{% endif %} <br />
      <p>Details: {{object.details}}</p>
    </div>
    <div>
      {{object.total_views}} Peoples Seen this Post <br>
      {{object.total_likes}} Peoples Liked this Post
    </div>
    <div>
      <form action="/tuition/likepost/{{object.id}}/" method="post">
        {% csrf_token %}

        {% if liked %}
        <button type="submit" class="btn btn-warning">Unlike</button>

        {% else %}
        <button type="submit" class="btn btn-primary">Like</button>

        {% endif %}
      </form>
    </div>
    <div>
    <Button class="btn "> <a href="/tuition/apply/{{object.id}}/"> Apply for this tuition</a></Button>
    </div>

  </div>
  <div>
    <form action="/tuition/addcomment/" method="post">
      {% csrf_token %}

      <div class="form-group">
        <lebel> Your Comment</lebel>
        <input type="text" name="comment" placeholder="Enter Your Comment" class="form-control">
        <input type="hidden" name="postid" value="{{object.id}}">
        <input type="hidden" name="parentid" value="">
      </div>
      <button type="submit"> Add Comment</button>
    </form>
  </div>
  <div>
{% for comment in comments %}
<div class="row">
<div class="col-md-1">
<img src="{{comment.user.userprofile.image.url}}" class=" rounded-circle img-thumbnail" style="width:45px;" alt="">
</div>
<div class="col-md-10">
<b>{{comment.user.username}}</b> <span class="badge badge-secondary"> {{comment.created_at | naturaltime}}
</span>
<div>{{comment.text}}</div>
<div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Delete Comment
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete your comment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn "> <a href="/tuition/commentdelete/{{comment.id}}/">Delete</a></button>
      </div>
    </div>
  </div>
</div>

</div>
<div class="row">
<form action="/tuition/addcomment/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <lebel> Your reply</lebel>
        <input type="text" name="comment" placeholder="Enter Your Comment" class="form-control">
        <input type="hidden" name="postid" value="{{object.id}}">
        <input type="hidden" name="parentid" value="{{comment.id}}">
      </div>
      <button type="submit"> Add reply</button>
    </form>
    </div>
    {% for reply  in DictofReply|get_reply:comment.id %}
<div class="row">
<div class="col-md-1">
<img src="{{reply.user.userprofile.image.url}}" class=" rounded-circle img-thumbnail" style="width:45px;" alt="">
</div>
<div class="col-md-10">
<b>{{reply.user.username}}</b> <span class="badge badge-secondary"> {{reply.created_at | naturaltime}}
</span>
<div>{{reply.text}}</div>
<div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{reply.id}}">
  Delete Reply
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{reply.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete your comment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn "> <a href="/tuition/commentdelete/{{reply.id}}/">Delete</a></button>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
{% endfor %}


</div>
</div>
</div>
{% endfor %}

  </div>
</div>
{% endblock %}