{% extends 'basic.html' %}
{% block title %} PostList
{% endblock title %}
{% block body %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <h1>Filter Posts</h1>
    <form action="/tuition/filter/" method="post">
      {% csrf_token %}

      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect02" name='subject'>
          <option></option>
          {% for i in subjects %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}

        </select>
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02">Subjects</label>
        </div>
        </div>
        <div>
        <div class="input-group mb-3">
          <select class="custom-select" id="inputGroupSelect02" name='class_in'>
            <option></option>
            {% for i in classes %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}

          </select>
          <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">Class</label>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col">
      <div class="form-group">
        <label for="exampleFormControlInput1">Salary From</label>
        <input type="number" class="form-control" name="salary_from" id="exampleFormControlInput1">
      </div>
      </div>
      <div class="col">
      <div class="form-group">
        <label for="exampleFormControlInput1">Salary to</label>
        <input type="number" class="form-control" name="salary_to" id="exampleFormControlInput1">
      </div>
      </div>
      </div>
      
      

  <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="available">
        <label class="form-check-label" for="exampleCheck1">Only Available</label>
      </div>


      <button class="btn btn-primary" type="submit">Filter Posts</button>
    </form>
  </div>
  <h1 class="text-center">All Posts Are given below:</h1>
  {% for p in posts %}
  <div class="col-md-8 offset-md-2 mb-3 p-3 border">

    <div class="row  my-2 position-relative">
      <div class="col d-flex flex-column">
        <strong class="d-inline-block mb-2">
          <div>
            <a href="/session/otherprofile/{{p.user.username}}/">
              <h3> {% if p.user.get_full_name %}{{p.user.get_full_name}} {% else %} {{p.user.username}} {% endif %}
              </h3>
            </a>
            <span class="badge badge-secondary">{{p.created_at}}</span>

          </div>
          -Searching For a teacher
        </strong>
        <div class="preview">
          for <b> {{p.medium}}</b> medium's Student <br>
          in {{p.district}} District <br>
          <b>Salary:</b> {{p.salary}} <br>
          <p class="card-text">
            <a href="/tuition/postdetail/{{p.id}}/"> ...Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock body %}